/*Horaire*/
body>div:nth-of-type(4){
    background-image:linear-gradient(
        to bottom,
        rgba(0,0,0,0),
        rgba(0,0,0,0.5)
    ), url(../Images/Background/Horaire/Horaire.jpg);
    border-radius: 5px;
}

#horaire h2{
    font-size: max(60px, 4vw);
    color: white;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 5px 5px 9px black;
}
#horaire caption{
    font-size: max(20px, 1vw);
    font-family: 'Raleway' , sans-serif;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 5px 5px 9px black;
}
#horaire ul{
    font-size: max(20px, 1vw);
    list-style-type: none;
}
.th1, .th2, .th3, .th4, .th5, .th6{
background-color: rgba(255, 228, 196, 0.300);
font-size: 20px;
}
th{
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 3px 3px 6px black;
}
td{
    font-style: italic;
    font-weight: bold;
    border: 1px solid wheat;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}
#semainecours{
    margin: 0  auto;
    width: 80%;
    margin-bottom: 50px;
}
#semainecours h3{
    font-size: max(15px, 1vw);
    color: white;
    border-radius: 5px;
    text-align: center;
}
#semainecours pre{
    font-family: 'Raleway', sans-serif;
    background-color: rgba(95, 158, 160, 0.400);
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.mardi, .jeudi{
    font-family: 'Shantell Sans', cursive;
}
.td1, .td2, .td3, .td4, .td5, .td6, .td7, .td8{
    background-color: rgba(0, 0, 0, 0.1);
    font-size: max(20px, 1.5vw);
}